### range()
- range(5)
    - 0 1 2 3 4
- range(1,5)
    - 1 2 3 4
- range(1,10,1)
    - 1 2 3 4 5 6 7 8 9
- range(10,0,-1)
    - 10 9 8 7 6 5 4 3 2 1

### Data Structures in Python
- list
- Tuples
- Dictionary
- sets
### List
- It's one of the common data structures of python
- list can store differnt types of data (int, char, float, string)
- List objectives enclosed with in square brackets
- Every list item will be seperated by comma(,) operator
- Examples :-
    - List1 = [1,2,3,4,5]
    - List2 = ["Gitam",1990.25.85,"Hyderabad",'a']

In [12]:
li = [1,2,3,4,5]
print(li)

[1, 2, 3, 4, 5]

In [2]:
#List -- len()-- Length of the list
#len(li)

for i in range(len(li)):
    print(li[i],end = ' ')
len(li)

1 2 3 4 5

5

In [3]:
# To update the list item

li[3] = 1989

In [4]:
print(li)

[1, 2, 3, 1989, 5]

In [5]:
# Print the alternate items sum

sum = 0
for i in range(0,len(li),2):
    sum += li[i]
print(sum)

9

In [6]:
# Slicing of list object

print(li[0:3])

# Print the all the items except last line
# In list object reverse index starts from -1
# -1 -2 -3 .... n

print(li[:-1])
print(li[2:-1])
print(li[1:-1])

[1, 2, 3]
[1, 2, 3, 1989]
[3, 1989]
[2, 3, 1989]

In [7]:
li[5] = 1989

IndexError: list assignment index out of range

In [10]:
# Delete list items
# delete 3 rd inddex of list

del li[3]

# delete entire list objects
del li

In [13]:
li

[1, 2, 3, 4, 5]

### Methods and Functions of List
- Max()
    - Gives the highest item of the list
- Min()
    - Gives the least item of the list
- Sum()
    - Returns the sum of entire list
- len()
    - returns the length of the list
- Append()
    - append(listItem) : which inserts the new item at the end
- insert()
    - insert(index,listItem) : which inserts the new item at the specific index
- count()
    - count(listitem) : which returns how many times the item is repeated in the given list
- pop()
    - pop() : will remove item in the last index
    - pop(index) : will remove item at spefic index
- sort()
    - sort() : will make the list as sorted in ascending order
- reverse()
    - reverse() : wil make list as sorted in descending order
-

In [23]:
print(min(li))
print(len(li))
print(max(li))

1
6
5

In [25]:
li.append(3)
li.insert(2,9)

In [26]:
li

[1, 2, 9, 3, 4, 5, 3, 3]

In [27]:
print(li.count(5))

1

In [28]:
print(li.count(3))

3

In [29]:
li.pop()
li

[1, 2, 9, 3, 4, 5, 3]

In [30]:
li.pop(2)
li

[1, 2, 3, 4, 5, 3]

In [31]:
li.append(-1)
li.append(-2)
li
li.sort()
li

[-2, -1, 1, 2, 3, 3, 4, 5]

In [32]:
li.reverse()

In [33]:
li

[5, 4, 3, 3, 2, 1, -1, -2]

In [38]:
# Write a function to find second large item of list

def SL(lis):
    lis.sort()
    return li[-2]
lis = [200,20,2222,222,1958687,501475368]
SL(lis)

1958687

In [40]:
def genericLarge(li,n):
    li.sort()
    return li[-n]
li = [200,20,2222,222,1958687,501475368]
print(genericLarge(li,3))
print(genericLarge(li,2))

2222
1958687

In [47]:
def genericLeast(li,n) :
    li.sort()
    return li[n-1]
li = [200,20,2222,222,1958687,501475368]
print(genericLeast(li,1))
print(genericLeast(li,2))

20
200

### Number to List conversions
- Example : 1597531

In [66]:
def numberList(n):
    li= []
    while n != 0:
        li.append(n%10)
        n = n // 10
    li.reverse()
    return li
n = int(input(' '))
li = numberList(n)
li.count(1)

 12341

2

### Tuples
- Tuple is also one data structure in python
- Its simillar to list object
- Tuple is only used for reading the data
- it means tuples immitable where as list is mutable
- Tuple can be defined in paranthasesis()
- Example : t1 = (1,2,3,4)

In [73]:
t1 = (1,2,3,4,5)
print(t1)

(1, 2, 3, 4, 5)

In [74]:
print(t1[0:3]) # SLicing of tuple is same as the list object

(1, 2, 3)

In [76]:
del t1[3] # Tuple object doesn't support item deletion

TypeError: 'tuple' object doesn't support item deletion

In [78]:
t1[2] = 1986 # Tuple object doesn't supprt item assignment

TypeError: 'tuple' object does not support item assignment

In [87]:
for i in range(len(t1)) :
    print(t1[i]*2, end = ' ')

2 4 6 8 10

In [88]:
# Tuple object cannont be used for any kind of updates, deletes , append and insert
t1

(1, 2, 3, 4, 5)

### DIctionaries 
- In python another common data structure is dictionaries
- This data structures works on key and value
- Every key is defined with some value and key is always a unique key
- This object enclosed with curly braces{}
- Each key and value is seperated from comma(,) operator
- Key and value is separated from colon (:) operator
- Example : **d1 = {"k1" : "v1","v2"}**

In [116]:
d1  = {"Name" : "Gitam","Emailid" : "gitam@gitam.edu","Phone":"123456789" }

In [90]:
d1

{'Name': 'Gitam', 'Email id': 'gitam@gitam.edu', 'Phone': '123456789'}

In [91]:
#Only value of the key
d1["Name"]

'Gitam'

In [93]:
# keys() returns all the keys of the d1 object
d1.keys()

dict_keys(['Name', 'Email id', 'Phone'])

In [96]:
# values() returns all the values of the d1 object
d1.values()

dict_values(['Gitam', 'gitam@gitam.edu', '123456789'])

In [107]:
# Updat especific key
d1["Emailid"] = "Hyd@gitam.edu "

In [117]:
d1

{'Name': 'Gitam', 'Emailid': 'gitam@gitam.edu', 'Phone': '123456789'}

In [118]:
# Delete specific key
del d1["Emailid"]

In [119]:
d1

{'Name': 'Gitam', 'Phone': '123456789'}

In [114]:
del d1

### Contact Application 
   - Add contact
   - Search Contact
   - Import Contacts
   - Modify Contact
   - Delete Contact

In [135]:
contacts = {}
def addContact(name,phone) :
    if name not in contacts :
        contacts[name] = phone
        print(name, 'Added to Contacts Successfully')
    else :
        print(name,' Already Exist in contacts')
    return
addContact('Anil',123456789)
addContact('Harsha',23456789)
addContact('Anil',123456789)

def searchContact(name):
    if name in contacts:
        print(name,' : ',contacts[name])
    else :
        print(name,' is not found')
    return
searchContact('Anil')
searchContact('anil')

def importContact(newContacts) :
    contacts.update(newContacts)
    print('No : ',len(newContacts.keys()),'Successfully Added')
    return
newContacts = {'Ajay' : 2565854741, 'Aravind' : 999995858, 'Rakesh' : 2252525554}
importContact(newContacts)

def modifyContactDetails(name,phone) :
    if name in contacts :
        contacts[name] = phone
        print(name,'Updated')
    else :
        print(name,'not found')
    return 
modifyContactDetails('Anil',88888888)
modifyContactDetails('Prabhas',12345689)

def deleteContact(name) :
    if name in contacts :
        del contacts[name]
        print(name,'Deleted Succesfully')
    else :
        print(name,'Contact not found')
    return
deleteContact('Anil')
deleteContact('prabhas')

Anil Added to Contacts Successfully
Harsha Added to Contacts Successfully
Anil  Already Exist in contacts
Anil  :  123456789
anil  is not found
No :  3 Successfully Added
Anil Updated
Prabhas not found
Anil Deleted Succesfully
prabhas Contact not found

In [137]:
# Try to sort dictonary object data
# Try to add single name should have multiple values

In [138]:
for i in sorted(contacts.keys()):
    print(i,contacts[i])

Ajay 2565854741
Aravind 999995858
Harsha 23456789
Rakesh 2252525554

# Strings in Python